<footer>
    <div class="row row-eq-height">
        <div class="col-md-4">
            <div class="text-container">
                <p>C &amp; O Wines</p>
                <p>Unit 14, Park Road Estate,</p>
                <p>Park Road,</p>
                <p>Timperley</p>
                <p>Cheshire</p>
                <p>WA14 5QR</p>
                <br />
                <p>
                    <i class="fa fa-phone-square fa-3x"></i><br />
                    <span class="phone-number-lg">01925 737585</span>
                </p>
            </div>
        </div>
        <div class="col-md-8">
            @Html.Partial("~/Views/Home/Contact.cshtml")
        </div>
    </div>
    <iframe class="map-location" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d9514.475612027738!2d-2.3515023311064627!3d53.40375677811037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487bac8c3b5be049%3A0x7139c67b4fd7b572!2sC+%26+O+Wines!5e0!3m2!1sen!2suk!4v1454511043180" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <p>&copy; @DateTime.Now.Year - C &amp; O Wines</p><p class="pull-right">Designed by Starlite Solutions</p>
</footer>